workflows/ingestion.json
{
  "name": "Study Assistant — Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -112
      ],
      "id": "cea1ffe1-1819-4c73-a627-c73e183785f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1xOZwNhz4WrNi_E-uJceMUaZN6C0Uxsie",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        112
      ],
      "id": "d9d77f4b-425d-46af-a290-cb53588b7180",
      "name": "HTTP Request",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (item.binary?.data) {\n    item.binary.data.mimeType = 'application/pdf';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -112
      ],
      "id": "13dd5f7e-fc59-4c6f-8250-17a8ae3e175a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=study-assistant",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        528,
        -112
      ],
      "id": "7aeb304e-fa92-41a5-94f1-3ec0102509d5",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "wUtxc4VemyM7shpO",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "40493c11-2d13-4d11-a51c-d8d4bbc923fc",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "h30oHeF3YyKP6A0n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        0
      ],
      "id": "2cc39088-0ed1-4be1-addf-36601b51b658",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d5670a4-bb16-4412-a4b0-2ce454f671b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc4c1c44b8051cbd808afe6bd24ce1baca212cfa066320f88554ea8cc98f45c3"
  },
  "nodeGroups": [],
  "id": "jvLakmMWUvQ0wnpn",
  "tags": []
}